.home-content{   
    width: 50%;
    float: left;    
}
.form-login{
    width: 50%;
    float: right;

}

.lb-avalie{    
    margin-left: 144px;
    padding-top: 73px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 75px;
    /* identical to box height */

    letter-spacing: -0.015em;
    color: #FFFFFF;
    mix-blend-mode: normal;
   
}

.lb-tell{        
    margin-left: 144px;
    margin-top: 19px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;

    color: #F2F2F2;
    
}

.main-image{
    margin-left: 174px;
    margin-top: 52px;
}


.home-container{ 
    width: 100%;
}

